body{
    background-color: bisque;
}
.wrap{
    background-color: #5810ca;
    margin: 20% 0 0 40%;
    height: 30vh;
    width: 8rem;
    padding: 3%;
}
.view{
    width: 70%;
    height: 30px;
}
#btn{
    height: 30px;
    width: 20%;
}
